.ctn{
    display: flex;
    align-items: center;
    margin-left: 500px;
}
.btnA{
    padding-bottom: 8px;
    
}
.het{
<<<<<<< HEAD
    text-align: center;
    margin: 30px 0px ;
=======
    margin: 30px 100px ;
>>>>>>> d0a3294e27437f03e4c156b392231b226b1acbf4
}