.side_nav_main_container{
    text-align: center;
}
.side_nav_slide_container{
    position: fixed;
    background-color:teal;
}

.side_nav_links{
    color: white;
    text-decoration: none;
    border: none;
   
}
.side_nav_nait{
    margin-bottom: 40px;
}
:hover.side_nav_links{
    text-decoration: none;
    color:cyan;
}
.side_nav_nait-logout{
    margin-top: 160px;}
    .namef{
        color: seashell;
        
    }
    .userN{
        margin-bottom: 80px;
    }