*{
    text-align: center;
}
.slide{
    position: fixed;
    background-color: teal;
}
.logout{
    margin-top: 260px;
}
.links{
    color: white;
    text-decoration: none;
    border: none;
   
}
.nait{
    margin-bottom: 40px;
}
:hover.links{
    text-decoration: none;
    color:cyan;
}